In [9]:
import pandas as pd
import numpy as np

In [13]:
df = pd.DataFrame({'A': range(1,11), 'B': np.random.randn(10)})
df.head(5)

   A         B
0  1 -0.054337
1  2  0.519575
2  3 -0.262912
3  4  1.625559
4  5  0.329988

In [17]:
df.assign(ln_A=lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1 -0.054337  0.000000
1  2  0.519575  0.693147
2  3 -0.262912  1.098612
3  4  1.625559  1.386294
4  5  0.329988  1.609438

In [20]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1 -0.054337  0.000000
1   2  0.519575  0.693147
2   3 -0.262912  1.098612
3   4  1.625559  1.386294
4   5  0.329988  1.609438
5   6 -0.732748  1.791759
6   7  0.405271  1.945910
7   8 -0.765036  2.079442
8   9  0.423355  2.197225
9  10 -0.863789  2.302585

In [23]:
pd.qcut(df.A, 3, labels=["good", "medium", "bad"])

0      good
1      good
2      good
3      good
4    medium
5    medium
6    medium
7       bad
8       bad
9       bad
Name: A, dtype: category
Categories (3, object): [good < medium < bad]

In [24]:
pd.qcut(df.B, 3, labels=["good", "medium", "bad"])

0    medium
1       bad
2      good
3       bad
4    medium
5      good
6    medium
7      good
8       bad
9      good
Name: B, dtype: category
Categories (3, object): [good < medium < bad]