In [1]:
import pandas as pd

In [4]:
adf = pd.DataFrame({"x1": ["A", "B", "C"], "x2": [1, 2, 3]})
adf

  x1  x2
0  A   1
1  B   2
2  C   3

In [7]:
bdf = pd.DataFrame({"x1": ["A", "B", "D"], "x3": ["T", "F", "T"]})
bdf

  x1 x3
0  A  T
1  B  F
2  D  T

In [8]:
pd.merge(adf, bdf, how='left', on='x1')

  x1  x2   x3
0  A   1    T
1  B   2    F
2  C   3  NaN

In [9]:
pd.merge(bdf, adf, how='left', on='x1')

  x1 x3   x2
0  A  T  1.0
1  B  F  2.0
2  D  T  NaN

In [10]:
pd.merge(adf, bdf, how='right', on='x1')

  x1   x2 x3
0  A  1.0  T
1  B  2.0  F
2  D  NaN  T

In [11]:
pd.merge(adf, bdf, how='inner', on='x1')

  x1  x2 x3
0  A   1  T
1  B   2  F

In [12]:
pd.merge(adf, bdf, how='outer', on='x1')

  x1   x2   x3
0  A  1.0    T
1  B  2.0    F
2  C  3.0  NaN
3  D  NaN    T

In [14]:
adf.x1.isin(bdf.x1)

0     True
1     True
2    False
Name: x1, dtype: bool

In [15]:
adf[adf.x1.isin(bdf.x1)]

  x1  x2
0  A   1
1  B   2

In [16]:
~adf.x1.isin(bdf.x1)

0    False
1    False
2     True
Name: x1, dtype: bool

In [17]:
adf[~adf.x1.isin(bdf.x1)]

  x1  x2
2  C   3