# 5. 일급 함수

## 5.1. 일급 객체

- runtime에 생성 
- 데이터 구조체의 요소에 할당 
- 함수 인자로 전달 
- 함수 결과로 반환

In [1]:
def factorial(n):
    '''returns n!'''
    return 1 if n < 2 else n* factorial(n-1)

In [2]:
print(factorial(5))

120

In [3]:
print([factorial])

[<function factorial at 0x7f3f7c60d620>]

In [4]:
print(factorial.__doc__)

returns n!

In [5]:
print(type(factorial))

<class 'function'>

## 5.2. 고위 함수

- 함수를 인자로 받거나 반환

map, reduce, filter, sorted, apply.....

In [9]:
print(list(map(factorial, range(6))))

[1, 1, 2, 6, 24, 120]

In [10]:
print([factorial(n) for n in range(6)])

[1, 1, 2, 6, 24, 120]

In [11]:
print(list(filter(lambda n: n %2 == 0, range(6))))

[0, 2, 4]

In [13]:
print([n for n in range(6) if n % 2 == 0])

[0, 2, 4]

In [14]:
from functools import reduce
from operator import add

In [15]:
seq = range(10)

In [16]:
print(add(1, 2))

3

In [17]:
print(add(1, 2, 3))

TypeError: op_add expected 2 arguments, got 3

In [18]:
print(reduce(add, seq))

45

In [20]:
print(reduce(lambda x,y: x+y, seq))

45

In [21]:
print(sum(seq))

45

## 5.3. 익명 함수
- lambda

In [22]:
from datetime import date, timedelta

In [23]:
dates = [date.today() + timedelta(days=d) for d in range(7)]
print(dates)

[datetime.date(2019, 8, 24), datetime.date(2019, 8, 25), datetime.date(2019, 8, 26), datetime.date(2019, 8, 27), datetime.date(2019, 8, 28), datetime.date(2019, 8, 29), datetime.date(2019, 8, 30)]

In [24]:
print(list(map(lambda x: '{}/{:02}/{:02}'.format(x.year, x.month, x.day), dates)))

['2019/08/24', '2019/08/25', '2019/08/26', '2019/08/27', '2019/08/28', '2019/08/29', '2019/08/30']

In [25]:
def get_string_date(date, delimter='/'):
    year = str(date.year)
    month = str(date.month).zfill(2)
    day = str(date.day).zfill(2)
    
    return delimter.join([year, month, day])

In [26]:
print(list(map(get_string_date, dates)))

['2019/08/24', '2019/08/25', '2019/08/26', '2019/08/27', '2019/08/28', '2019/08/29', '2019/08/30']

In [27]:
print([d.strftime('%Y/%m/%d') for d in dates])

['2019/08/24', '2019/08/25', '2019/08/26', '2019/08/27', '2019/08/28', '2019/08/29', '2019/08/30']

## 5.4. 콜러블(callable) 객체

- callable(object)
    - ( )로 호출 가능하면 callable
- 종류
    - 사용자 정의 함수
    - 내장 함수
    - 내장 메서드
    - 메서드
    - 클래스
    - 클래스 객체
    - 제너레이터 함수

In [28]:
print(callable(map))

True

In [29]:
a = 1
print(callable(a))

False

In [30]:
print(callable(factorial))

True

In [31]:
print(factorial.__call__(5))

120

# 5.5. 사용자 정의 콜러블형
- __call__ 메서드를 구현하면 모든 객체를 콜러블형으로 만들수 있음

In [32]:
class MyClass1(object):
    
    def __init__(self):
        pass

In [33]:
cls1 = MyClass1()
print(callable(cls1)) # __call__() 함수가 없음

False

In [34]:
print(callable(MyClass1)) # 클래스자체는 콜러블

True

In [35]:
class MyClass2(object):
    
    def __init__(self):
        pass
    
    def __call__(self):
        pass

In [36]:
cls2 = MyClass2()
print(callable(cls2))

True

## 5.6. 함수 인트로스펙션

In [37]:
print(dir(factorial))

['__annotations__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__globals__', '__gt__', '__hash__', '__init__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [38]:
print(factorial.__dict__)

{}

In [39]:
print(MyClass1.__dict__)

{'__module__': '__main__', '__init__': <function MyClass1.__init__ at 0x7f3f7c590158>, '__doc__': None, '__weakref__': <attribute '__weakref__' of 'MyClass1' objects>, '__dict__': <attribute '__dict__' of 'MyClass1' objects>}

일반 객체에는 존재하지 않는 함수 속성들

In [40]:
print(sorted(set(dir(factorial)) - set(dir(MyClass1))))

['__annotations__', '__call__', '__closure__', '__code__', '__defaults__', '__get__', '__globals__', '__kwdefaults__', '__name__', '__qualname__']

## 5.7. 위치 매개변수에서 키워즈 전용 매개변수까지

In [41]:
def tag(name, *content, cls=None, **attrs):
    """하나 이상의 HTML 태그를 생성한다"""
    if cls is not None:
        attrs['class'] = cls
        
    if attrs:
        attrs_str = ''.join(' {}="{}"'.format(attr, value) for attr, value in sorted(attrs.items()))
    else:
        attrs_str = ''
        
    if content:
        return '\n'.join('<{}{}>{}</{}>'.format(name, attrs_str, c, name) for c in content)
    else:
        return '<{}{} />'.format(name, attrs_str)

In [42]:
print(tag('br'))

<br />

In [43]:
print(tag('p', 'hello', 'world'))

<p>hello</p>
<p>world</p>

In [44]:
print(tag('p', 'hello', id=33))

<p id="33">hello</p>

In [45]:
print(tag('p', 'hello', cls='sidebar'))

<p class="sidebar">hello</p>

In [46]:
print(tag(content='testing', name='img'))

<img content="testing" />

In [47]:
my_tag = {
    'name': 'img',
    'title': 'Sunset Boulevard',
    'src': 'sunset.jpg',
    'cls': 'framed',
}

In [48]:
print(tag(**my_tag))

<img class="framed" src="sunset.jpg" title="Sunset Boulevard" />

In [49]:
my_tag = {
    'title': 'Sunset Boulevard',
    'src': 'sunset.jpg',
    'cls': 'framed',
}
my_content = ['fig1', 'fig2']

In [50]:
print(tag('img', *my_content, **my_tag))

<img class="framed" src="sunset.jpg" title="Sunset Boulevard">fig1</img>
<img class="framed" src="sunset.jpg" title="Sunset Boulevard">fig2</img>

## 5.8. 매개변수에 대한 정보 읽기

In [51]:
def clip(text, max_len=80):
    """
    max_len 앞이나 뒤의 마지막 공백에서 잘라낸 텍스트를 반환    
    """
    
    end = None
    if len(text) > max_len:
        space_before = text.rfind(' ', 0, max_len)
        if space_before >= 0:
            end = space_before
        else:
            space_after = text.rfind(' ', max_len)
            if space_after >= 0:
                end = space_after
    
    if end is None: # 공백이 없다
        end = len(text)
        
    return text[:end].rstrip()

In [52]:
print(clip.__defaults__)

(80,)

In [53]:
print(clip.__code__.co_varnames) #함수내 지역변수

('text', 'max_len', 'end', 'space_before', 'space_after')

In [55]:
from inspect import signature
sig = signature(clip)
print(str(sig))

(text, max_len=80)

In [56]:
for name, param in sig.parameters.items():
    print(param.kind, ':', name, '=', param.default)

POSITIONAL_OR_KEYWORD : text = <class 'inspect._empty'>
POSITIONAL_OR_KEYWORD : max_len = 80

## 5.10. 함수형 프로그래밍을 위한 패키지
- functools
- operator

In [57]:
from functools import reduce

In [58]:
def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))

In [59]:
print(fact(5))

120

In [60]:
from operator import mul

In [61]:
def fact(n):
    return reduce(mul, range(1, n+1))

In [62]:
print(fact(5))

120

- itemgetter
    - 특정 필드 기준으로 튜플의 리스트를 정렬
    - callable

In [65]:
from operator import itemgetter
from collections import namedtuple

person = namedtuple('person', ['name', 'age', 'height', 'weight']) # person class
print(person)

<class '__main__.person'>

In [64]:
list_person = [
    person('A', 28, 180, 75),
    person('B', 30, 170, 80),
    person('C', 25, 183, 73),
    person('D', 33, 165, 70),
    person('E', 28, 175, 65)
]

In [66]:
for p in sorted(list_person, key=itemgetter(1, 2)):
    print(p)

person(name='C', age=25, height=183, weight=73)
person(name='E', age=28, height=175, weight=65)
person(name='A', age=28, height=180, weight=75)
person(name='B', age=30, height=170, weight=80)
person(name='D', age=33, height=165, weight=70)

- attrgetter
    - 이름으로 객체 속성을 추출
    - 이 속성명에 포함되는것도 가능!

In [67]:
from operator import attrgetter

In [68]:
for p in sorted(list_person, key=attrgetter('age', 'height')):
    print(p)

person(name='C', age=25, height=183, weight=73)
person(name='E', age=28, height=175, weight=65)
person(name='A', age=28, height=180, weight=75)
person(name='B', age=30, height=170, weight=80)
person(name='D', age=33, height=165, weight=70)

In [69]:
person = namedtuple('person', ['name', 'age', 'height', 'weight', 'extra'])

extra = namedtuple('extra', ['smoke', 'drink'])

list_person = [
    person('A', 28, 180, 75, extra(13, 0.5)),
    person('B', 30, 170, 80, extra(10, 1.5)),
    person('C', 25, 183, 73, extra(20, 3)),
    person('D', 33, 165, 70, extra(10, 2)),
    person('E', 28, 175, 65, extra(17, 1))
]

In [70]:
for p in sorted(list_person, key=attrgetter('age', 'extra.drink')):
    print(p)

person(name='C', age=25, height=183, weight=73, extra=extra(smoke=20, drink=3))
person(name='A', age=28, height=180, weight=75, extra=extra(smoke=13, drink=0.5))
person(name='E', age=28, height=175, weight=65, extra=extra(smoke=17, drink=1))
person(name='B', age=30, height=170, weight=80, extra=extra(smoke=10, drink=1.5))
person(name='D', age=33, height=165, weight=70, extra=extra(smoke=10, drink=2))